.error { color: red;
         font-family: arial;
         font-size: 10pt;
         fontstyle:italic;
}
#body{
    background-color:#F0F0FF;
    background-attachment: fixed;
    background-repeat:no-repeat;
    padding-bottom: 35px;
    padding-top: 2em;
}
h1{
    font-size: 32pt;
}
#aboutus {
		width:80%;
		padding-left: 40px;
}

#contact {		
	width:80%;
	padding-left: 40px;
	padding-top: 30px;
}

#wrapper {
	width:100%;
	margin:auto;
	background-color:#FFFFFF;	
}

#menu {
	/*background-image:url(../img/menu.png);*/
	background-color:#000000;
	height:70px;
	width:130%;
	padding-left: 40px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align:center;
}

th, td {
    padding-bottom: 10px;
}

#menuop, #footer a{
	color:#ffffff;
	text-decoration:none;
	font-weight:bold;
	font-size: 20px;
	font-family: "Karma", serif;
    -webkit-appearance: none;
}

#menuop:hover, #footer a:hover{
	text-decoration:underline;
}

#menunav1{
    width: 140%;
    margin-right: 0px;
    float: left;
}

#cartmenu {
    float: left;
    height: 88%;
    width: 5%;
    margin-left: 3px;
}

#cartimg {
	width: 90%;
}

#contenido {
	padding:0px;
}
#footer-sec {
	background: #232323;
	color: white;
}

#tablelist {
	float:left;
	clear: left;
}

#footer {
	/* background-image:url(../img/menu.png);*/
    position:fixed;
   	bottom:0px;
	background-color:#000000;
	height:40px;
	width:100%;
	padding-top:0px;
	text-align:center;
}

/*-------LOGIN-------*/
#login {
   	bottom:0px;
	background-color:#d6d6d6;
	width:50%;
	padding-top:0px;
	text-align:center;
	margin: auto;
	border-radius:15px;
	padding-bottom: 8em;
	margin-bottom: 3em;
}

#login table {
   	bottom:0px;
	width:100%;
	padding-top:0px;
	text-align:center;
}

#register {
   	bottom:0px;
	background-color:#d6d6d6;
	width:50%;
	padding-top:0px;
	text-align:center;
	margin: auto;
	border-radius:15px;
}

#register table {
   	bottom:0px;
	width:100%;
	padding-top:0px;
	text-align:center;
}

#recoverbody {
   	bottom:0px;
	background-color:#d6d6d6;
	width:50%;
	padding-top:0px;
	text-align:center;
	margin: auto;
	border-radius:15px;
	padding-bottom: 2em;
	margin-bottom: 3em;
}

#recoverbody table {
   	bottom:0px;
	width:100%;
	padding-top:0px;
	text-align:center;
}

#menuser {
	background-color:#d6d6d6;
	text-align: right;
}


.Button_gray_login {
	background-color:#c6c6c6;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:1px solid #c6c6c6;
	display:inline-block;
	cursor:pointer;
	color:#000000;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
	float: left;
	margin-left: 5px;
}
.Button_gray_login:hover {
	background-color:gray;
}
.Button_gray_login:active {
	position:relative;
	top:1px;
}

#loginb {
	margin-left: 103px;
}

#lrecover {
	clear: left;
    margin-left: 202px;
    margin-top: 10px;
}

.trpassw{
	visibility: hidden;
}

/*-------EARLY EVENTS-------*/
#bootstrev{
	width:20%;
	background-color: #b2b0b0;
	border-radius:15px;
	padding: 10px;
	margin: 5px;
	float: left;
	padding-bottom: 140px;
    max-height: 30px;
}

#bootstrev:hover{
    background-color: #a0a0a0;
}

#eventosapi {
	margin-left: 40px;
    clear:left;

}
#early{
	margin-left: 10px;
	float:left;
	width: 30%;
}

#earlyh4 {
	font-family: "Times New Roman", Times, serif;
	font-weight: bold;
}

#eventos, #tipo_eventos {
    background:#dbdddb;
    width: 150px;
    padding: 2px;
    font-family:Arial, Helvetica, sans-serif;
    font-size:14px;
    font-weight:600;
    color:#000000;
    line-height: 1;
    border: 2px solid blue;;
    border-radius: 10px;
    border-color: #000000;
    height: 25px;
    padding-left: 10px;
    margin-left: 30px;
    -webkit-appearance: none;
}

#provincias {
    background:#dbdddb;
    width: 200px;
    padding: 2px;
    font-family:Arial, Helvetica, sans-serif;
    font-size:14px;
    font-weight:600;
    color:#000000;
    line-height: 1;
    border: 2px solid blue;;
    border-radius: 6px;
    border-color: #000000;
    height: 25px;
    padding-left: 10px;
    margin-left: 30px;
    -webkit-appearance: none;
}

.provincia{
	margin-bottom: 50px;
}

#provincias {
	margin-left: 30px;
}

#imagenearly{
	float: left;
	width: 65%;
	margin-left: 30px;
    margin-top: 15px;
}

#listar_evento {
	width:20%;
	background-color: #b2b0b0;
	border-radius:15px;
	padding: 10px;
	margin: 5px;
	margin-top: 10px;
	margin-left: 40px;
	margin-bottom: 20px;
	clear: left;
	float: left;
	padding-bottom: 140px;
    max-height: 30px;
}

#listar_evento:hover{
    background-color: #a0a0a0;
}

#eventsbody {
	    margin-bottom: 65px
}
/*---------CARRITO---------*/
#btnAdd{
    background-color: #7A7A7A;
    -moz-border-radius: 28px;
    -webkit-border-radius: 28px;
    border-radius: 15px;
    border: 1px solid #000000;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 17px;
    padding: 9px 14px;
    text-decoration: none;
    margin-left: 52px;
}
#btnAdd:hover {
	background-color:white;
	color:#000000;
}
#btnAdd:active {
	position:relative;
	top:1px;
}

#btnrsv{
	position: absolute;
    background-color: #7A7A7A;
    -moz-border-radius: 28px;
    -webkit-border-radius: 28px;
    border-radius: 15px;
    border: 1px solid #000000;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 17px;
    padding: 9px 14px;
    text-decoration: none;
    margin-left: 64px;
}
#btnrsv:hover {
	background-color:white;
	color:#000000;
}
#btnrsv:active {
	position:relative;
	top:1px;
}

.eliminarbut{
    background-color: #7A7A7A;
    -moz-border-radius: 28px;
    -webkit-border-radius: 28px;
    border-radius: 15px;
    border: 1px solid #000000;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 17px;
    padding: 9px 14px;
    text-decoration: none;
    margin-left: 52px;
    visibility: hidden;
	float:left;
}
.eliminarbut:hover {
	background-color:white;
	color:#000000;
}
.eliminarbut:active {
	position:relative;
	top:1px;
}

#cesta {
	width: 60%;
    margin-bottom: 30px;
    margin-left: 40px;
    float:left;
}

#linea {
	width: 100%;
	background: #000000;
	height: 1px;
	margin-top: 10px;
}

.cartbutt {
	width: 12%;
	float: right;
	clear: right;
	cursor: pointer;
}

#cartbody {
	height: 160px;
    max-height: 160px;
}

#cardata {
	float: left;
	clear:left;
}

#nomprod {
	font-size: 25;
    font-style: none;
    color: blue;
    text-decoration: underline;
    font-weight: bold;
}

#compra {
    float: right;
    width: 33%;
    margin-right: 20px;
    margin-top: 9px;
    height: 175px;
    visibility: hidden;
}

#precio, #titulochck{
	float: left;
	font-size: 30px;
}

#precio{
	margin-left: 5px;
}

#checkout{
    background-color: #7A7A7A;
    -moz-border-radius: 28px;
    -webkit-border-radius: 28px;
    border-radius: 15px;
    border: 1px solid #000000;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 17px;
    padding: 9px 14px;
    text-decoration: none;
	float:left;
	clear: left;
}

#checkout:hover {
	background-color:white;
	color:#000000;
}
#checkout:active {
	position:relative;
	top:1px;
}

#cartbody2 {
	margin-bottom: 150px;
	height: 160px;
    max-height: 160px;
}

#cartempty{
    background-color: #7A7A7A;
    -moz-border-radius: 28px;
    -webkit-border-radius: 28px;
    border-radius: 15px;
    border: 1px solid #000000;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 17px;
    padding: 9px 14px;
    text-decoration: none;
    margin-bottom: 10px;
}
#cartempty:hover {
	background-color:white;
	color:#000000;
}
#cartempty:active {
	position:relative;
	top:1px;
}

/* --------PROFILE---------*/
#plikes{
	margin-left: 30px;
    width: 40%;
    background: #c1c1c1;
    padding: 20px;
    padding-bottom: 15px;
    border-radius: 15px;
    margin-bottom: 45px;
    float:left;
}

#profile{
	margin-left: 20px;

}


/* --------CARUSEL---------*/
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor:pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/*---------MAPS---------*/
  #map {
    height: 100%;
  }

  #aboutustext{
  	margin-top: 50px;
  }

/* ---------- BUTTONS ---------- */
.Button_green {
	background-color:green;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:15px;
	border:1px solid green;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
.Button_green:hover {
	background-color:greenyellow;
}
.Button_green:active {
	position:relative;
	top:1px;
}
.Button_blue {
	background-color:blue;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:15px;
	border:1px solid blue;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
.Button_blue:hover {
	background-color:cyan;
}
.Button_blue:active {
	position:relative;
	top:1px;
}

.Button_blue1 {
	background-color:blue;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:15px;
	border:1px solid blue;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
.Button_blue1:hover {
	background-color:cyan;
}
.Button_blue1:active {
	position:relative;
	top:1px;
}
.Button_red {
	background-color:crimson;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:15px;
	border:1px solid crimson;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
.Button_red:hover {
	background-color:red;
}
.Button_red:active {
	position:relative;
	top:1px;
}

.Button_gray {
	background-color:#c6c6c6;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:1px solid #c6c6c6;
	display:inline-block;
	cursor:pointer;
	color:#000000;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
.Button_gray:hover {
	background-color:gray;
}
.Button_gray:active {
	position:relative;
	top:1px;
}

.jumbotron {
    background-color:#d8d8d8 !important;
    width: 100% !important;
}